@model Escola.Models.UsuarioViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <div> 
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div>Novo Usuário</div>
            <hr />
            if (ViewData.ModelState.Keys.Any(k => ViewData.ModelState[k].Errors.Count() > 0))
            {
                <div>@Html.ValidationSummary(false, "Verifique os erros:")</div>
            }
            <div>
                @Html.LabelFor(model => Model.Nome, htmlAttributes: new { @class="control-label col-md-2"})
            </div>
            <div>
                @Html.EditorFor(model => Model.Nome, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div>
                @Html.ValidationMessageFor(model => Model.Nome, "", new { @class = "text-danger" })
            </div>

            <div>
                @Html.LabelFor(model => Model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            </div>
            <div>
                @Html.EditorFor(model => Model.Email, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div>
                @Html.ValidationMessageFor(model => Model.Email, "", new { @class = "text-danger" })
            </div>

            <div>
                @Html.LabelFor(model => Model.Senha, htmlAttributes: new { @class = "control-label col-md-2" })
            </div>
            <div>
                @Html.PasswordFor(model => Model.Senha, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div>
                @Html.ValidationMessageFor(model => Model.Senha, "", new { @class = "text-danger" })
            </div>

            <div>
                <input type="submit" value="Adicionar" />
                @Html.ActionLink("Voltar", "Index", null, new { @class="btn btn-warning"})
            </div>
        }
    </div>
</body>
</html>
